body {
    background-color: black;
    color: white;
    font-family: 'Alice', 'serif';
}

.nav-wrapper {
    background-color: black;
}

#nav-mobile {
    padding-right: 5vw;
}

h1 {
    font-family: 'mystery quest', 'cursive';
    font-size: 3em;
    padding-top: 5vw;
    margin-left: 10vw;
    padding-right: 30vw;
}

#hero { 
    width: 100vw;
    height: 1000px;
    background-image: url('./img/sasha-cover.jpg');
    background-size: cover;
}

@media screen and (max-width: 768px) {
    #hero {
      width: 100vw;
      height: 100vw;
    }