@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oxygen:wght@300;400;700&family=Vidaloka&display=swap");
body {
  background-color: #141414;
  color: white;
  font-family: "oxygen", sans-serif;
}

.nav-wrapper {
  background-color: black;
}

#nav-mobile {
  padding-right: 5vw;
}

h1,
h2,
h3,
h4,
h5,
footer {
  text-align: center;
}

h1 {
  top: 1em;
  font-size: 6em;
  font-weight: 800;
  font-family: "Great Vibes", serif;
  animation: fade-in-right;
  animation-duration: 1s;
}

h2 {
  font-family: "Oxygen";
  font-size: 3em;
  font-weight: 300;
}

h3 {
  font-family: "Oxygen", serif;
  font-weight: 700;
}

#hero {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}
#hero > section {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}
.hero {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.menu > a {
  margin: 0.5em;
  font-size: 20px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2px 7px;
}

.menu > a:hover {
  border: 1px solid white;
}

.audio-elem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardImage {
  position: relative;
  padding: 0;
  margin: 5em auto;
  margin-bottom: 0;
  width: 80%;
  height: 600px;
  max-width: 800px;
  cursor: pointer;
}

.cardImage:hover {
  transform: scale(1.03);
}

.cardImage .radio {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  background-color: #a96554;
  color: white;
  font-size: 30px;
  font-family: "oxygen";
  font-weight: bold;
  padding: 5vh 5vw;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  line-height: 100%;
}

.flip {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
}

.flipCardTitle {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "oxygen", sans-serif !important;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.25em 0.25em 0.25em 0.75em;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: oxygen;
  font-size: 16px;
}

button {
  text-align: center;
  margin-bottom: 5vh;
  border-style: inset;
  padding: 1em;
}

.character {
  background-color: #a96554;
}

.c {
  color: white;
}

.ad {
  background-color: black;
}

#bio {
  background-color: #f7eee0;
  color: #140000;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5vh;
  padding: 20px 60px;
  font-family: oxygen;
  font-size: 16px;
  animation-name: slidein;
  animation-duration: 1s;
}

#contactContainer {
  margin-top: 10em;
}

.hidden {
  display: none;
}

iframe {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 3em auto;
  max-width: 100%;
}

#contactInfo {
  text-align: center;
  padding: 0 1em;
  font-family: "oxygen";
  font-size: 20px;
}

#submit {
  background-color: white;
  color: black;
}
/*small screen size*/
@media only screen and (max-width: 600px) {
  .cardImage {
    height: 171px;
    margin-bottom: 3em;
    margin-top: 2em;
  }
  .flipCardTitle {
    font-size: 20px;
    padding: 0.15em 0.15em 0.15em 0.3em;
  }
  .cardImage .radio {
    top: 75%;
    font-size: 13px;
    padding: 8px 18px;
  }
  audio {
    width: 220px;
  }
  .audio-elem {
    transform: translate(-65%);
  }

  .download {
    margin-top: 4em;
  }

  #bio {
    align-items: center;
    margin: 0 auto;
    padding: 20px 20px;
  }
  .menu {
    flex-direction: column;
  }
}

@keyframes slidein {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
