body {
    background-color: #141414;
    color: white;
    font-family: "Alice", "serif";
}

.nav-wrapper {
    background-color: black;
}

#nav-mobile {
    padding-right: 5vw;
}

h1, h2, h3, h4, h5, footer {
    text-align: center;
}

h1 {
    font-size: 3em;
    padding-top: 10vw;
    margin-left: 10vw;
    padding-right: 30vw;
}

#hero {
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.8), inset 16px -16px 40px rgba(255, 255, 255, 0.05),  inset -16px 0px 40px rgba(255, 255, 255, 0.05);
}
.hero {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero__text {
    position: absolute;
}

@media screen and (max-width: 768px) {
    #hero {
        height: 60vh;
    }
    h1 {
        padding-top: 20vw;
        font-size: 2.5em;
    }
}

@media screen and (max-width: 375px) {
    #hero {
        width: 100vw;
        height: 50vh;
    }
    h1 {
        padding-top: 20vw;
        font-size: 2em;
    }
}

#blog {
    color: black;
}





.vampire {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 5vh;
    width: 100%;
    height: auto;
}

.card {
    color: #fff;
    background-color: #1b1b1b;
}
.card-content > p, form {
    font-family: "Roboto", "sans-serif";
}

.hidden {
    display: none;
}

#contactContainer {
    margin-top: 10em;
}
